@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles or specific stylesheet */
body {
  /* Light mode styles */
  background-color: white;
  color: black;
}

html.dark {
  /* Dark mode styles */
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

/* Additional styles for other elements in dark mode if needed */
